body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0vh 10vw;
    min-height: 100vh;
}
#page_content{
    /* background-color: antiquewhite; */
    padding: 1vh 2vw;
}
h1,h2{
    color: darkorange;
}
header{
    display: flex;
    justify-content: space-between;
}
#logo>img{
    max-height: 15vh;
    max-width: 20vw;
}
#lebanon_flag>img{
    max-height: 15vh;
    max-width: 20vw;
}
#title{
    max-width: 50vw;
    text-align: center;
}

#main_content{
    background-image:  url("../../static/img/cedre.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
}

#myTabs{
    margin: 2vh auto;
    width: max-content;
}
/*-------------------nav css-------------------------------*/

.nav-pills > li {
    float: left;
}
.nav-pills > li > a {
    border-radius: 4px;
}
.nav-pills > li + li {
    margin-left: 2px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: darkorange;
}
.active {
    display: block;
}
.nav:before, .nav:after{
  display: table;
  content: " ";
}
a {
    background-color: transparent;
}
a:active, a:hover {
    outline: 0;
}
a {
    color: darkorange;
    text-decoration: none;}
a:hover,
a:focus {
    color: darkorange;
    text-decoration: underline;
}
a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .nav > li {
    position: relative;
    display: block;
  }
  .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    background-color: rgba(255,165,0,0.5);
  }
  .nav > li > a:hover,
  .nav > li > a:focus {
    text-decoration: none;
    background-color: rgba(255,165,0,0.7);
  }
 
  .nav .open > a,
  .nav .open > a:hover,
  .nav .open > a:focus {
    background-color: #eeeeee;
    border-color: #337ab7;
  }

  .tab-content > .tab-pane {
    display: none;
  }
  .tab-content > .active {
    display: block;
  }